<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://52.34.36.25:3306/CLARITYCOW</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">sc2015</property>
    <mapping resource="cl/sgg/edm/Cliente.hbm.xml"/>
    <mapping resource="cl/sgg/edm/Corral.hbm.xml"/>
    <mapping resource="cl/sgg/edm/Insumo.hbm.xml"/>
    <mapping resource="cl/sgg/edm/Venta.hbm.xml"/>
    <mapping resource="cl/sgg/edm/Categoria.hbm.xml"/>
    <mapping resource="cl/sgg/edm/EventoTransporte.hbm.xml"/>
    <mapping resource="cl/sgg/edm/EventoGrupopeso.hbm.xml"/>
    <mapping resource="cl/sgg/edm/GrupopesoCorral.hbm.xml"/>
    <mapping resource="cl/sgg/edm/Diio.hbm.xml"/>
    <mapping resource="cl/sgg/edm/Sexo.hbm.xml"/>
    <mapping resource="cl/sgg/edm/Raza.hbm.xml"/>
    <mapping resource="cl/sgg/edm/RupTipo.hbm.xml"/>
    <mapping resource="cl/sgg/edm/Animal.hbm.xml"/>
    <mapping resource="cl/sgg/edm/Transportista.hbm.xml"/>
    <mapping resource="cl/sgg/edm/VehiculoTipo.hbm.xml"/>
    <mapping resource="cl/sgg/edm/EstadoAnimal.hbm.xml"/>
    <mapping resource="cl/sgg/edm/EventoRup.hbm.xml"/>
    <mapping resource="cl/sgg/edm/RacionGrupopeso.hbm.xml"/>
    <mapping resource="cl/sgg/edm/Evento.hbm.xml"/>
    <mapping resource="cl/sgg/edm/TipoEstado.hbm.xml"/>
    <mapping resource="cl/sgg/edm/EventoVenta.hbm.xml"/>
    <mapping resource="cl/sgg/edm/Vehiculo.hbm.xml"/>
    <mapping resource="cl/sgg/edm/CategoriaValorFeria.hbm.xml"/>
    <mapping resource="cl/sgg/edm/RacionIngrediente.hbm.xml"/>
    <mapping resource="cl/sgg/edm/GrupoPeso.hbm.xml"/>
    <mapping resource="cl/sgg/edm/Racion.hbm.xml"/>
    <mapping resource="cl/sgg/edm/Eventotipo.hbm.xml"/>
    <mapping resource="cl/sgg/edm/EventoInsumo.hbm.xml"/>
    <mapping resource="cl/sgg/edm/Transporte.hbm.xml"/>
    <mapping resource="cl/sgg/edm/InsumoTipo.hbm.xml"/>
    <mapping resource="cl/sgg/edm/Proveedor.hbm.xml"/>
    <mapping resource="cl/sgg/edm/Ingrediente.hbm.xml"/>
    <mapping resource="cl/sgg/edm/Establecimiento.hbm.xml"/>
    
    <mapping resource="cl/sgg/edm/Usuarios.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
