<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
    <description></description>
    <display-name>bajaAnimales</display-name>
    <servlet-name>bajaAnimales</servlet-name>
    <servlet-class>cl.sgg.controller.bajaAnimales</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
   <servlet-mapping>
    <servlet-name>bajaAnimales</servlet-name>
    <url-pattern>/pages/manejos/bajaAnimales</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>guardarBaja</display-name>
    <servlet-name>guardarBaja</servlet-name>
    <servlet-class>cl.sgg.controller.guardarBaja</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
   <servlet-mapping>
    <servlet-name>guardarBaja</servlet-name>
    <url-pattern>/pages/manejos/guardarBaja</url-pattern>
  </servlet-mapping>
</web-app>
